<!DOCTYPE html>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>MVC Form 테스트 로그인 페이지</h1>
<form action = "/form-test-post" method = "post">
    <div>
        <label>username</label>
        <input name = "username" type="text">
    </div>
    <div>
        <label>password</label>
        <input name = "password" type="password">
    </div>
    <button type = "submit">글작성하기</button>
</form>

</body>
</html>
